<script type="text/javascript" src = "http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" ></script>
<script type="text/javascript">
$(function() {
  $('#flit_message').keyup(function() {
    var content_length = $(this).val().length;
    var remaining = 140 - content_length
    $('#char_count').html(remaining);
    if (remaining < 21 && remaining > 9) {
      $('#char_count').removeClass('red');
      $('#char_count').addClass('dark_red');
    } else if (remaining <= 9) {
      $('#char_count').removeClass('dark_red');
      $('#char_count').addClass('red');
    } else {
      $('#char_count').removeClass('dark_red').removeClass('red');
    }
  });
});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-41297634-2', 'herokuapp.com');
  ga('send', 'pageview');

</script>
<%= form_for Flit.new do |f| %>
  <div id="new_flit_form">
    <h3 style="float: left;">What are you doing?</h3>
    <h3 id="char_count" style="float: right;font-size= 23px ;font-weight:bold; color: #aaa;" >140</h3>
    <%= f.text_area :message %>
    <div id="latest_message">
      <strong>Latest: </strong><%= h ("#{last_flit_message} #{last_flit_created}") %>
    </div>
    <div id="submit_button_container">
      <%= f.submit "update", :class => "button" %>
    </div>
    <div class="clear"></div>
  </div>
  <% end %>
<%= render :partial => "flits_list", :locals => {:flits => @flits} %>
